img {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
    color: #00580fbd;
}

h2 {
    text-align: center;
    color: #00580fbd;
}

p {
    text-align: center;
    color: #289139;
}

body {
    background-color: #9effae;
}
    

form {
    text-align: center;
}

label {
    color: #064400;
}